{% extends 'base.html.twig' %}

{% block title %}List of features{% endblock %}

{% block body %}
<h1>List of features</h1>

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}</div>

<ul>
{% for feature in features %}
    <li>
        {{ feature }}
    </li>
{% endfor %}
</ul>
{% endblock %}
